In [1]:
# import nltk
import pandas as pd
import numpy as np
# from ast import literal_eval

In [2]:
new_df = pd.read_pickle("clean_movie_dataset.pkl")

In [6]:
genre = pd.read_csv('genre_lst.csv')['genres'].tolist()

In [5]:
new_df['clean about'][0]

"['two', 'imprisoned', 'men', 'bond', 'number', 'years', 'finding', 'solace', 'eventual', 'redemption', 'acts', 'common', 'decency']"

In [41]:
genre

['horror',
 'sport',
 'film-noir',
 'war',
 'adventure',
 'history',
 'action',
 'crime',
 'musical',
 'music',
 'comedy',
 'romance',
 'sci-fi',
 'fantasy',
 'animation',
 'thriller',
 'drama',
 'western',
 'family',
 'biography',
 'mystery']

In [71]:
lst = []

In [72]:
for g in genre:
  # if check[g].sum() >= 75:
  #   lst.append(True)
  # else:
  #   lst.append(False)
  lst.append(check[g].sum())

In [73]:
lst

[559,
 119,
 26,
 99,
 1009,
 139,
 1329,
 1036,
 64,
 133,
 1870,
 849,
 444,
 413,
 254,
 850,
 2583,
 52,
 279,
 305,
 516]

In [58]:
genre_lst_df = pd.DataFrame(genre,columns=['genres'])
genre_lst_df["more than 75 movies"] = lst

In [100]:
genre_lst_df

       genres  more than 75 movies  number of movies
0      horror                 True               559
1       sport                 True               119
2   film-noir                False                26
3         war                 True                99
4   adventure                 True              1009
5     history                 True               139
6      action                 True              1329
7       crime                 True              1036
8     musical                False                64
9       music                 True               133
10     comedy                 True              1870
11    romance                 True               849
12     sci-fi                 True               444
13    fantasy                 True               413
14  animation                 True               254
15   thriller                 True               850
16      drama                 True              2583
17    western                False                52
18     family                 True               279
19  biography                 True               305
20    mystery                 True               516

In [113]:
check[check['romance']]

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,...,romance,sci-fi,fantasy,animation,thriller,drama,western,family,biography,mystery
5,https://m.media-amazon.com/images/S/sash/4Fyxw...,forrest gump,12,142 min,"[drama, romance]",8.8,"The presidencies of Kennedy and Johnson, the V...",robert zemeckis,"('Tom Hanks',), ('Robin Wright',), ('Gary Sini...","20,32,188",...,True,False,False,False,False,True,False,False,False,False
30,https://m.media-amazon.com/images/S/sash/4Fyxw...,titanic,12,194 min,"[drama, romance]",7.9,A seventeen-year-old aristocrat falls in love ...,james cameron,"('Leonardo DiCaprio',), ('Kate Winslet',), ('B...","11,52,050",...,True,False,False,False,False,True,False,False,False,False
53,https://m.media-amazon.com/images/S/sash/4Fyxw...,eternal sunshine of the spotless mind,15,108 min,"[drama, romance, sci-fi]",8.3,"When their relationship turns sour, a couple u...",michel gondry,"('Jim Carrey',), ('Kate Winslet',), ('Tom Wilk...","9,92,622",...,True,True,False,False,False,True,False,False,False,False
59,https://m.media-amazon.com/images/S/sash/4Fyxw...,slumdog millionaire,15,120 min,"[crime, drama, romance]",8.0,A Mumbai teenager reflects on his life after b...,danny boyle,"('Loveleen Tandan',), ('Dev Patel',), ('Freida...","8,39,114",...,True,False,False,False,False,True,False,False,False,False
67,https://m.media-amazon.com/images/S/sash/4Fyxw...,good will hunting,15,126 min,"[drama, romance]",8.3,"Will Hunting, a janitor at M.I.T., has a gift ...",gus van sant,"('Robin Williams',), ('Matt Damon',), ('Ben Af...","9,50,568",...,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4922,https://m.media-amazon.com/images/S/sash/4Fyxw...,you kill me,15,93 min,"[comedy, crime, romance]",6.4,"While drying out on the West Coast, an alcohol...",john dahl,"('Ben Kingsley',), ('Téa Leoni',), ('Luke Wils...","18,540",...,True,False,False,False,False,False,False,False,False,False
4924,https://m.media-amazon.com/images/S/sash/4Fyxw...,the yards,15,115 min,"[crime, drama, romance]",6.4,Leo is released from prison after serving time...,james gray,"('Mark Wahlberg',), ('Joaquin Phoenix',), ('Ch...","21,502",...,True,False,False,False,False,True,False,False,False,False
4930,https://m.media-amazon.com/images/S/sash/4Fyxw...,highlander iii: the sorcerer,15,99 min,"[action, fantasy, romance]",4.4,"Deceived that he had won the Prize, Connor Mac...",andrew morahan,"('Christopher Lambert',), ('Mario Van Peebles'...","21,065",...,True,False,True,False,False,False,False,False,False,False
4941,https://m.media-amazon.com/images/S/sash/4Fyxw...,"he loves me, he loves me not",12,95 min,"[romance, thriller]",7.1,A young woman who is in love with a married do...,laetitia colombani,"('Audrey Tautou',), ('Samuel Le Bihan',), ('Is...","19,030",...,True,False,False,False,True,False,False,False,False,False
4953,https://m.media-amazon.com/images/S/sash/4Fyxw...,playing it cool,15,94 min,"[comedy, romance]",5.9,Unrequited love motivates a guy to write about...,justin reardon,"('Chris Evans',), ('Michelle Monaghan',), ('To...","28,515",...,True,False,False,False,False,False,False,False,False,False

In [5]:
genre_lst_df = pd.read_csv('genre_lst.csv')

In [6]:
genre_lst_df

    Unnamed: 0     genres  more than 75 movies  number of movies
0            0     horror                 True               559
1            1      sport                 True               119
2            2  film-noir                False                26
3            3        war                 True                99
4            4  adventure                 True              1009
5            5    history                 True               139
6            6     action                 True              1329
7            7      crime                 True              1036
8            8    musical                False                64
9            9      music                 True               133
10          10     comedy                 True              1870
11          11    romance                 True               849
12          12     sci-fi                 True               444
13          13    fantasy                 True               413
14          14  animation                 True               254
15          15   thriller                 True               850
16          16      drama                 True              2583
17          17    western                False                52
18          18     family                 True               279
19          19  biography                 True               305
20          20    mystery                 True               516

In [8]:
genre_lst_df[genre_lst_df['genres'] == 'horror']['more than 75 movies'].bool()

True

In [94]:
genre_lst_df.to_csv('genre_lst.csv')

In [89]:
genre_lst_df = pd.read_csv('genre_lst.csv')

In [91]:
genre_lst_df.drop(columns=['Unnamed: 0'],inplace=True)

In [93]:
genre_lst_df

       genres  more than 75 movies  number of movies
0      horror                 True               559
1       sport                 True               119
2   film-noir                False                26
3         war                 True                99
4   adventure                 True              1009
5     history                 True               139
6      action                 True              1329
7       crime                 True              1036
8     musical                False                64
9       music                 True               133
10     comedy                 True              1870
11    romance                 True               849
12     sci-fi                 True               444
13    fantasy                 True               413
14  animation                 True               254
15   thriller                 True               850
16      drama                 True              2583
17    western                False                52
18     family                 True               279
19  biography                 True               305
20    mystery                 True               516

In [69]:
genre_lst_df[genre_lst_df['more than 75 movies'].tolist()]

       genres  more than 75 movies
0      horror                 True
1       sport                 True
3         war                 True
4   adventure                 True
5     history                 True
6      action                 True
7       crime                 True
9       music                 True
10     comedy                 True
11    romance                 True
12     sci-fi                 True
13    fantasy                 True
14  animation                 True
15   thriller                 True
16      drama                 True
18     family                 True
19  biography                 True
20    mystery                 True

In [62]:
(pd.read_csv('genre_lst.csv')['genres']).to_list()

['horror',
 'sport',
 'film-noir',
 'war',
 'adventure',
 'history',
 'action',
 'crime',
 'musical',
 'music',
 'comedy',
 'romance',
 'sci-fi',
 'fantasy',
 'animation',
 'thriller',
 'drama',
 'western',
 'family',
 'biography',
 'mystery']

In [27]:
check = pd.read_pickle('clean_movie_dataset.pkl')

In [42]:
check['director'][5]

'robert zemeckis'

In [92]:
movies_df.to_csv('clean_movie_dataset.csv')

In [86]:
movies_df

,Unnamed: 0.1,Unnamed: 0,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,clean about
0,0,0,https://m.media-amazon.com/images/S/sash/4Fyxw...,the shawshank redemption,15,142 min,['drama'],9.3,Two imprisoned men bond over a number of years...,frank darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M,"['two', 'imprisoned', 'men', 'bond', 'number',..."
1,1,1,https://m.media-amazon.com/images/S/sash/4Fyxw...,the dark knight,12A,152 min,"['action', 'crime', 'drama']",9.0,When the menace known as the Joker wreaks havo...,christopher nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M,"['menace', 'known', 'joker', 'wreaks', 'havoc'..."
2,2,2,https://m.media-amazon.com/images/S/sash/4Fyxw...,inception,12A,148 min,"['action', 'adventure', 'sci-fi']",8.8,A thief who steals corporate secrets through t...,christopher nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M,"['thief', 'steals', 'corporate', 'secrets', 'u..."
3,3,3,https://m.media-amazon.com/images/S/sash/4Fyxw...,fight club,18,139 min,['drama'],8.8,An insomniac office worker and a devil-may-car...,david fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M,"['insomniac', 'office', 'worker', 'devilmaycar..."
4,4,4,https://m.media-amazon.com/images/S/sash/4Fyxw...,pulp fiction,18,154 min,"['crime', 'drama']",8.9,"The lives of two mob hitmen, a boxer, a gangst...",quentin tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M,"['lives', 'two', 'mob', 'hitmen', 'boxer', 'ga..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,4981,4981,https://m.media-amazon.com/images/S/sash/4Fyxw...,seven brides for seven brothers,U,102 min,"['comedy', 'drama', 'musical']",7.3,"In 1850 Oregon, when a backwoodsman brings a w...",stanley donen,"('Jane Powell',), ('Howard Keel',), ('Jeff Ric...","25,112",$9.40M,"['1850', 'oregon', 'backwoodsman', 'brings', '..."
4982,4982,4982,https://m.media-amazon.com/images/S/sash/4Fyxw...,playing it cool,15,94 min,"['comedy', 'romance']",5.9,Unrequited love motivates a guy to write about...,justin reardon,"('Chris Evans',), ('Michelle Monaghan',), ('To...","28,515",NaN,"['unrequited', 'love', 'motivates', 'guy', 'wr..."
4983,4983,4983,https://m.media-amazon.com/images/S/sash/4Fyxw...,a moment to remember,144 min,"Drama, Romance",NaN,8.1,A young couple's enduring love is tested when ...,john h. lee,"('Jung Woo-sung',), ('Son Ye-jin',), ('Jong-ha...","23,957",NaN,"['young', 'couples', 'enduring', 'love', 'test..."
4984,4984,4984,https://m.media-amazon.com/images/S/sash/4Fyxw...,hairspray,PG,92 min,"['comedy', 'drama', 'family']",7.0,A 'pleasantly plump' teenager teaches 1962 Bal...,john waters,"('Sonny Bono',), ('Ruth Brown',), ('Divine',),...","21,536",$6.67M,"['pleasantly', 'plump', 'teenager', 'teaches',..."
4985,4985,4985,https://m.media-amazon.com/images/S/sash/4Fyxw...,mccabe & mrs. miller,X,120 min,"['drama', 'western']",7.6,A gambler and a prostitute become business par...,robert altman,"('Warren Beatty',), ('Julie Christie',), ('Ren...","25,097",$8.20M,"['gambler', 'prostitute', 'become', 'business'..."

In [9]:
movies_df['genre'][1]

['action', 'crime', 'drama']

In [10]:
movies_df.to_pickle("clean_movie_dataset.pkl",protocol=4)

In [4]:
for i in range(len(movies_df['genre'])):
  obj = movies_df['genre'][i]
  if type(obj) != float:
    movies_df['genre'][i] = obj.strip('][').split(', ')

e:\Anaconda3\envs\cs4300\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [5]:
for i in range(len(movies_df['genre'])):
  obj = movies_df['genre'][i]
  if type(obj) != float:
    for j in range(len(obj)):
      movies_df['genre'][i][j] = eval(obj[j])

In [8]:
type(movies_df['genre'][1])

list

In [104]:
type(movies_df['genre'][1][0])

str

In [75]:
movies_df

0          frank darabont
1       christopher nolan
2       christopher nolan
3           david fincher
4       quentin tarantino
              ...
4981        stanley donen
4982       justin reardon
4983          john h. lee
4984          john waters
4985        robert altman
Name: director, Length: 4986, dtype: object

In [62]:
for i in range(len(movies_df['genre'])):
  obj = movies_df['genre'][i]
  if type(obj) != float:
    for j in range(len(obj)):
      movies_df['genre'][i][j] = obj[j].strip()

In [23]:
genre_lst = ["horror",
 "crime",
 "western",
"film-noir",
"sci-fi",
"adventure",
"mystery",
 "thriller",
 "comedy",
 "romance",
 "mystery",
"family",
"animation",
"western",
 "biography",
"crime",
 "sport",
 "fantasy",
"action",
 "war",
"drama",
 "musical",
 "music",
 "history"
]

In [120]:
genre_lst_df.to_pickle('genre_lst.pkl')

In [8]:
a = a.to_list()

In [133]:
a

['horror',
 'sport',
 'film-noir',
 'war',
 'adventure',
 'history',
 'action',
 'crime',
 'musical',
 'music',
 'comedy',
 'romance',
 'sci-fi',
 'fantasy',
 'animation',
 'thriller',
 'drama',
 'western',
 'family',
 'biography',
 'mystery']

In [29]:
genre_lst_df.to_csv('genre_lst.csv')

In [19]:
movies_df['director'] = movies_df['director'].str.lower()

In [14]:
movies_df

,track_id,track_name,track_artist,lyrics,track_popularity,track_album_id,track_album_name,track_album_release_date,playlist_name,playlist_id,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,language,unique sentences,clean lyrics
0,004s3t0ONYlzxII9PLgU6z,I Feel Alive,Steady Rollin,"['the trees are singing in the wind', 'the sky...",28,3z04Lb9Dsilqw68SHt6jLB,Love & Loss,2017-11-21,Hard Rock Workout,3YouF0u7waJnolytf9JCXf,...,0.0442,0.01170,0.009940,0.3470,0.404,135.225,373512,en,"['i feel alive', 'i thought', 'i loved you wit...","['feel', 'alive', 'thought', 'loved', 'without..."
1,00chLpzhgVjxs1zKC9UScL,Poison,Bell Biv DeVoe,"['n', 'a', 'yeah', 'spyderman and', 'freeze in...",0,6oZ6brjB8x3GoeSYdwJdPc,Gold,2005-01-01,"Back in the day - R&B, New Jack Swing, Swingbe...",3a9y4eeCJRmG9p4YKfqYIx,...,0.2160,0.00432,0.007230,0.4890,0.650,111.904,262467,en,"['relationships they seem from the start', 'sl...","['relationships', 'seem', 'start', 'slick', 'b..."
2,00cqd6ZsSkLZqGMlQCR0Zo,Baby It's Cold Outside (feat. Christina Aguilera),CeeLo Green,"['i really cant stay', 'baby its cold outside'...",41,3ssspRe42CXkhPxdc12xcp,CeeLo's Magic Moment,2012-10-29,Christmas Soul,6FZYc2BvF7tColxO8PBShV,...,0.0341,0.68900,0.000000,0.0664,0.405,118.593,243067,en,"['baby its cold outside', 'so nice and warm', ...","['baby', 'cold', 'outside', 'nice', 'warm', 'l..."
3,00emjlCv9azBN0fzuuyLqy,Dumb Litty,KARD,"['get up out of my business', 'you dont keep m...",65,7h5X3xhh3peIK9Y0qI5hbK,KARD 2nd Digital Single ‘Dumb Litty’,2019-09-22,K-Party Dance Mix,37i9dQZF1DX4RDXswvP6Mj,...,0.0409,0.03700,0.000000,0.1380,0.240,130.018,193160,en,"['drippin 여기 주도권을', 'litty dumb', 'baby we go ...","['drippin', 'litty', 'dumb', 'baby', 'go', 'le..."
4,00f9VGHfQhAHMCQ2bSjg3D,Soldier,James TW,['hold your breath dont look down keep trying'...,70,3GNzXsFbzdwM0WKCZtgeNP,Chapters,2019-04-26,urban contemporary,4WiB26kw0INKwbzfb5M6Tv,...,0.0550,0.28000,0.000000,0.0975,0.305,147.764,224720,en,"['i got you by my side', 'only we know where w...","['got', 'side', 'know', 'going', 'distance', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13407,7zU9pcTnh6Q4nBnrg47Xz0,"Bubble Butt (feat. Bruno Mars, 2 Chainz, Tyga ...",Major Lazer,"['bubble butt bubble bubble bubble butt', 'bub...",0,18w3FsBQO332yxJpQvSWXh,"Bubble Butt (Remix) (feat. Bruno Mars, 2 Chain...",2013-05-31,"Hot Latino Mix (Latin, Hip Hop, Rap, RnB, Danc...",3hR2R6szlkwZeGyclTgHcF,...,0.2860,0.00845,0.014300,0.4850,0.368,194.055,207843,en,"['bubble butt busted in her throat', 'baby bab...","['bubble', 'butt', 'busted', 'throat', 'baby',..."
13408,7zxLkZbUxITHabPzGN8Xgc,Sick Feeling,boy pablo,"['i had to catch the bus', 'alarm was shaking ...",64,1lESM5Y1VAvrCLEgLmyfOw,Soy Pablo,2018-10-05,②⓪①⑨ mixed,2bOjjgN1S3Gqd8vSMyafvJ,...,0.0314,0.02200,0.000004,0.3630,0.403,165.818,155714,en,"['i had to catch the bus', 'i was not prepared...","['catch', 'bus', 'prepared', 'let', 'go', 'dea..."
13409,7zxRMhXxJMQCeDDg0rKAVo,Some Way,NAV,"['yeah nah nah nah nah nah nah nah nah', 'nah ...",72,4JR29CNW14Zc4Z5vflxkoJ,NAV,2017-02-24,PROJECT: Contemporary,6HaCi9bqaiuSZEDfCEmwyo,...,0.3510,0.10100,0.000000,0.0919,0.340,154.962,179773,en,"['i take a jet take a jet when', 'i think your...","['take', 'jet', 'think', 'girl', 'fell', 'love..."
13410,7zXzWCVuz7whIuYZyEAlxt,Rising Like The Sun - Radio Mix,Qulinez,['caught up in such a head rush wideeyed latel...,0,1l4aoukbPgi5u2OaE2R4Zj,Rising Like The Sun,2014-03-24,♥ EDM LOVE 2020,6jI1gFr6ANFtT8MmTvA2Ux,...,0.0878,0.00555,0.000000,0.3350,0.211,128.012,208656,en,"['so lets take it take it now', 'we are reckle...","['lets', 'take', 'reckless', 'young', 'cause',..."
13411,7zye9v6B785eFWEFYs13C2,Bound,Ponderosa Twins Plus One,"['bound bound', 'bound bound', 'bound to fall ...",40,1xdgLmTFMSyJyI5DJOOX7T,2+2+1 = (Digitally Remastered),2013-07-09,Sexy Soul 2020,5EMARioe9z9eKOeWIAC2JW,...,0.0270,0.71500,0.000428,0.1150,0.657,142.218,191205,en,"['bound bound', 'and the magic of her rare per...","['bound', 'magic', 'rare', 'personality', 'woo..."

In [18]:
movies_df[movies_df['track_name'] == 'The Passenger']

,track_id,track_name,track_artist,lyrics,track_popularity,track_album_id,track_album_name,track_album_release_date,playlist_name,playlist_id,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,language,unique sentences,clean lyrics
3947,24FmdHoCr2jZGE6Z6dZbJT,The Passenger,Iggy Pop,"['i am a passenger', 'and', 'i ride and', 'i r...",45,5F79SWd4x7teHv5An2pqHQ,Lust For Life,1977-01-01,Intro to Permanent Wave,3QGjcvI9hCZw81NqKq3ZGv,...,0.0457,0.0797,0.000000,0.241,0.738,134.937,284067,en,"['over the citys ripping sky', 'cause it just ...","['citys', 'ripping', 'sky', 'cause', 'belongs'..."
7241,3yP0cohcr97BUNJcgvmSVg,The Passenger,Iggy Pop,"['i am a passenger', 'and', 'i ride and', 'i r...",21,7ynKEunH8LSit4TR3foMVC,Lust For Life,1977-09-09,Workday: Rock Classics,37i9dQZF1DX1lwxXvReaux,...,0.0457,0.0797,0.000000,0.241,0.738,134.937,284067,en,"['over the citys ripping sky', 'cause it just ...","['citys', 'ripping', 'sky', 'cause', 'belongs'..."
11053,6EZDbjz2X5XzgIZCtbsrXh,The Passenger,Siouxsie and the Banshees,"['i am the passenger', 'and', 'i ride and', 'i...",59,7kEqVGkLoruahp34YW16oe,Through The Looking Glass (Remastered And Expa...,1987-03-02,Permanent Wave,5Go0Jsxj1UnsU7Om841BEo,...,0.0673,0.0309,0.000063,0.135,0.294,139.819,309307,en,"['cause it just belongs to you and me', 'i see...","['cause', 'belongs', 'see', 'stars', 'come', '..."

In [17]:
movies_df[movies_df['track_name'] == 'Do Or Die - Afrojack vs. THIRTY SECONDS TO MARS Remix']

,track_id,track_name,track_artist,lyrics,track_popularity,track_album_id,track_album_name,track_album_release_date,playlist_name,playlist_id,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,language,unique sentences,clean lyrics
4550,2hr7myxuDCoXsKyVfh4ue0,Do Or Die - Afrojack vs. THIRTY SECONDS TO MAR...,Afrojack,['in the middle of the night when the angels s...,55,7G1441qDQeERZDyMipQPE8,Forget The World (Deluxe),2014-01-01,Mix ElectroPop//ElectroHouse// DeepHouse 2020,23swqzpOZwW1NhPiZ7iyFI,...,0.0416,0.0340,0.000003,0.047,0.206,128.041,278174,en,"['and the story goes on on on', 'you and', 'on...","['story', 'goes', 'know', 'never', 'forget', '..."
6294,3i4SQvUfK8Un3YkraZwkNr,Do Or Die - Afrojack vs. THIRTY SECONDS TO MAR...,Afrojack,['in the middle of the night when the angels s...,0,2V0QrN19MlIEwcuV4SEwfl,Do Or Die (Remix),2014-01-01,big boom room — TOMORROWLAND EDC EDM BIG ROOM ...,2oalsaFUockoPf1DU3wrL8,...,0.0440,0.0335,0.000002,0.048,0.211,128.025,278174,en,"['and the story goes on on on', 'you and', 'on...","['story', 'goes', 'know', 'never', 'forget', '..."

In [28]:
for x in ['drama']:
  print(x)

drama

In [32]:
for x in set([g for lst in movies_df['genre'] for g in lst]):
  print(x)

horror
 crime
 horror
 western
film-noir
sci-fi
adventure
a
mystery
 thriller
 sci-fi
 comedy
 romance
 mystery
family
animation
western
 biography
crime
 sport
thriller
 fantasy
action
 war
drama
 musical
 film-noir
romance
comedy
n
 action
 drama
fantasy
 music
 history
 adventure
 family
biography
musical

In [21]:
movies_df.to_csv('clean_movie_dataset.csv')

In [41]:
print(movies_df[movies_df['director'].str.lower() == "x"].empty)

True

In [5]:
nltk.edit_distance(["apple","apple"], ['word','juice'])

2

In [3]:
nltk.edit_distance("apple", 'word')

5

In [4]:
nltk.edit_distance("apple", 'juice')

4

In [12]:
for x in [1,2,3,4,5,6]:
  print(x)

1
2
3
4
5
6

In [13]:
min([1,2,34])

1